<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div style="width: 100vw; height: 100vh;" class="d-flex justify-content-center align-items-center">
    <div style="width: 40%; height: 50%; background-color: #959cb3;" class="d-flex flex-column justify-content-around align-items-around">
        <a href="/users" class="btn btn-primary" style="align-self: center; width: 20%">Users Page</a>
        <a href="/groups" class="btn btn-primary" style="align-self: center; width: 20%">Groups Page</a>
        <a href="/mailing" class="btn btn-primary" style="align-self: center; width: 20%">Mailing History</a>
    </div>
</div>

</body>
</html>