<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rassylka</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div style="width: 100vw; height: 100vh;" class="d-flex justify-content-center align-items-center">
    <div style="width: 40%; height: 50%;" class="d-flex flex-column justify-content-center align-items-center">
          <form class="form" th:action="@{/spam/save}" method = "post" th:modelAttribute="spam">
              <input type="hidden" name="id" th:value="${spam.id}">
              <input type="hidden" name="sendDate" th:value="${spam.sendDate}">
              <input type="hidden" name="group" th:value="null">
              <div class="form-group">
                  theme <br> <input type="text" name="letterTheme" th:value="${spam.letterTheme}">
              </div>
              <div class="form-group">
                  content <br> <input  type="text" name="letterContent" th:value="${spam.letterContent}">
              </div>
              <div class="form-group d-flex justify-content-center">
                  <input type="submit" value="Save" class="btn btn-warning">
              </div>
              <ul>
                  <li th:each="err : ${#fields.errors('spam.*')}" th:text="${err}" />
              </ul>

          </form>
    </div>
</div>
<div class="d-flex justify-content-center">
  <a href="/mailing">Mailing History</a>
</div>

</body>
</html>